.login-button {
  width: 200px;
  max-width: 250px;
  padding: 12px;
  background: linear-gradient(90deg, #29aa11 0%, #559a0d 100%);
  color: white;
  border: none;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 10px;
}

.login-button:hover {
  background-color: #45a049;
}
